#panel {
    margin-top: 60%;
}

.hero{
    background-image: url("C:\\Users\\aethi\\source\\repos\\OrchFront\\src\\assets\\images\\cosmos2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
