<section class="hero is-dark is-fullheight-with-navbar">
    <form [formGroup]="userdataform" (ngSubmit)="SubmitData($event)">
      <div class="container">
          <div class="columns is-vcentered">
              <div class="column has-text-centered">
                <div class="field">
                  <label class="label has-text-white">Username</label>
                  <div class="control has-icons-left has-icons-right">
                    <input id="Unameinput" formControlName="username" [value]="usernameSignal()" (keyup)="assignUsername($event)" class="input is-hovered is-rounded is-link" type="text" placeholder="Username" (blur)="CheckUsername()">
                    <span class="icon is-small is-left">
                      <i class="fa fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fa fas fa-check" *ngIf="usernameIcon"></i>
                    </span>
                  </div>
                  <p class="help is-danger" *ngIf="doesUsernameExists">This username is already taken</p>
                  <p class="help is-danger" *ngIf="isUsernameEmpty">Username must not be empty</p>
                </div>
                <div class="field">
                  <label class="label has-text-white">Password</label>
                  <div class="control has-icons-left has-icons-right">
                    <input formControlName="password" [value]="passwordSignal()" (keyup)="assignPassword($event)" class="input is-hovered is-rounded is-link" type="password" placeholder="Password" (blur)="CheckPassword()">
                    <span class="icon is-small is-left">
                      <i class="fa fas fa-key"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fa fas fa-check" *ngIf="!passwordIcon"></i>
                    </span>
                  </div>
                  <p class="help is-danger" *ngIf="!isPasswordProper">Password must be minimum 8 characters long,<br> contain at least 1 digit and at least 1 special sign</p>
                </div>
                  <div class="field">
                    <label class="label has-text-white">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input formControlName="email" [value]="emailSignal()" (keyup)="assignEmail($event)" class="input is-hovered is-rounded is-link" type="email" placeholder="Email" (blur)="CheckEmail()">
                      <span class="icon is-small is-left">
                        <i class="fa fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fa fas fa-check" *ngIf="emailIcon"></i>
                      </span>
                    </div>
                    <p class="help is-danger" *ngIf="doesEmailExist">This email is already taken</p>
                    <p class="help is-danger" *ngIf="!isEmailProper">Enter a proper email</p>
                  </div>
              </div>
              <div class="column has-text-centered">
                <br><br><br><br><br><br>
                <img id="image" alt="Your Image"><br><br>
                <input formControlName="photo" type="file" (change)="onFileSelected($event)">
                <p class="help is-warning">For the best result use an image with fixed size otherwise it might be deformed</p><br><br><br>
                <button id="submitbtn" type="submit" class="button is-medium is-success">Update Data</button>
                <p class="help is-danger" *ngIf="cannotSendFormData">Fill all fields</p>
              </div>
              <div class="column has-text-centered">
                  <div class="column has-text-centered">
                    <div class="field">
                      <label class="label has-text-white">Region</label>
                      <div class="control">
                        <div class="select is-hovered is-rounded is-link">
                          <select [(ngModel)]="selectedWojewodztwo" [ngModelOptions]="{standalone: true}" [value]="regionSignal()" (keyup)="assignRegion($event)">
                              <option *ngFor="let c of wojewodztwa" [ngValue]="c">{{c}}</option>
                            </select>
                        </div>
                      </div>
                    </div>
                        <div class="field">
                          <label class="label has-text-white">Age</label>
                          <div class="control has-icons-left has-icons-right">
                            <input formControlName="age" [value]="ageSignal()" (keyup)="assignAge($event)" class="input is-hovered is-rounded is-link" type="text" placeholder="Age" (blur)="CheckAge()">
                            <span class="icon is-small is-left">
                              <i class="fa fas fa-id-card-o"></i>
                            </span>
                            <span class="icon is-small is-right">
                              <i class="fa fas fa-check" *ngIf="ageIcon"></i>
                            </span>
                          </div>
                          <p class="help is-danger" *ngIf="!isAgeProper">Age must be a number</p>
                          <p class="help is-danger" *ngIf="isAgeEmpty">Age must not be empty</p>
                        </div>
                        <div class="field">
                          <label class="label has-text-white">City</label>
                          <div class="control has-icons-left has-icons-right">
                            <input formControlName="city" [value]="citySignal()" (keyup)="assignCity($event)" class="input is-hovered is-rounded is-link" type="text" placeholder="City" (blur)="CheckCity()">
                            <span class="icon is-small is-left">
                              <i class="fa fas fa-building"></i>
                            </span>
                            <span class="icon is-small is-right">
                              <i class="fa fas fa-check" *ngIf="cityIcon"></i>
                            </span>
                          </div>
                          <p class="help is-danger" *ngIf="!isCityProper">Enter a proper city</p>
                        </div>
                  </div>
              </div>
          </div>
      </div>
    </form>
</section>