
@if(this.loggedUserRole == "FUA"){
    <section class="hero is-fullheight is-dark">
        <div class="columns is-vcentered">
            <div class="column">

            </div>
            <div class="column has-text-centered">
                <h1 class="title">You already have full access to the Orchard</h1>
                <h2 class="subtitle">Have a great time here!</h2>
            </div>
            <div class="column">
                
            </div>
        </div>
    </section>
}
@else if (this.loggedUserRole == "NFUA") {
    <section class="hero is-fullheight is-dark">
        <div class="columns is-vcentered">
            <div class="column">

            </div>
            <div class="column has-text-centered">
                <div class="bodytr">
                    <h2 class="subtitle">Full Access involves Editing Profile, Notifications like who visited your profile and unique icon next to your age in Search For People</h2>
                    <button class="button is-large" (click)="ConnectMetaMask()">Connect Metamask</button><br><br>
                    @if (account != null) {
                        <button class="button is-large" (click)="BuyFullAccess()">Buy full access to website</button>
                    }
                </div>
            </div>
            <div class="column">
                
            </div>
        </div>
    </section>

}
@else {
    <section class="hero is-fullheight is-dark">
        <div class="columns is-vcentered">
            <div class="column">

            </div>
            <div class="column has-text-centered">
                <h1 class="title">Your transaction is pending</h1>
                <h2 class="subtitle">You will recive information if it succedes</h2>
            </div>
            <div class="column">
                
            </div>
        </div>
    </section>
}
