<nav class="level" *ngIf="visible_nav">
  <p class="level-item has-text-centered">
    <a class="link is-info" [routerLink]="['/Profile']">Your profile</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" [routerLink]="['/Notifications']">Notifications</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" [routerLink]="['/Search']">Search people</a>
  </p>
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/Dashboard']">
      <img src="assets/images/logo.png" alt="Logo">
    </a>
  </div>
  <p class="level-item has-text-centered">
    <a class="link is-info" [routerLink]="['/Messages']">Your Messages</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" [routerLink]="['/Payments']">Transactions</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" [routerLink]="['/Contact']">Contact Us</a>
  </p>
</nav>

<router-outlet></router-outlet>