.panel-block{
    background-color: whitesmoke;
    border-style: 10px solid;
    border-color: black;
    align-items: left;
}

div.modal-card{
    height: 300px;
}

textarea{
    resize: none;
}

figure > img{
    height: 64px;
    width: 64px;
}