<section class="hero is-medium is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
    
                </div>
                <div class="column has-text-centered">
                    <div class="card">
                        COS
                    </div>
                </div>
                <div class="column has-text-centered">
                    
                </div>
            </div>
          </div>
      </div>
  </section>