<section class="hero is-dark is-fullheight">
  <div class="columns is-vcentered">
    <div class="column">

    </div>
    <div class="column has-text-centered">
      <div class="formContainer">
      <form [formGroup]="registerForm" (ngSubmit)="Register($event)">
        <div class="field">
            <label class="label has-text-white">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-hovered is-rounded is-link" [value]="usernameSignal()" (keyup)="assignUsername($event)" type="text" formControlName="Username" (blur)="CheckUsername()">
              <span class="icon is-small is-left">
                <i class="fa fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fas fa-check" *ngIf="usernameIcon"></i>
              </span>
            </div>
            <p class="help is-danger" *ngIf="doesUsernameExists">This username is already taken</p>
          </div>
          
          <div class="field">
            <label class="label has-text-white">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-hovered is-rounded is-link" [value]="passwordSignal()" (keyup)="assignPassword($event)" type="password" formControlName="Password">
              <span class="icon is-small is-left">
                <i class="fa fas fa-key"></i>
              </span>
            </div>
          </div>
          
          <div class="field">
            <label class="label has-text-white">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-hovered is-rounded is-link" [value]="emailSignal()" (keyup)="assignEmail($event)" type="text" formControlName="Email" (blur)="CheckEmail()">
              <span class="icon is-small is-left">
                <i class="fa fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fas fa-check" *ngIf="emailIcon"></i>
              </span>
            </div>
            <p class="help is-danger" *ngIf="doesEmailExist">This email is already taken</p>
          </div>
    
          <div class="field">
            <label class="label has-text-white">Age</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-hovered is-rounded is-link" [value]="ageSignal()" (keyup)="assignAge($event)" type="text" formControlName="Age">
              <span class="icon is-small is-left">
                <i class="fa fas fa-id-card-o"></i>
              </span>
            </div>
          </div>
          
          <div class="field">
            <label class="label has-text-white">City</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-hovered is-rounded is-link" [value]="citySignal()" (keyup)="assignCity($event)" type="text" formControlName="City">
              <span class="icon is-small is-left">
                <i class="fa fas fa-building"></i>
              </span>
            </div>
          </div>
    
          <div class="field">
            <label class="label has-text-white">Region</label>
            <div class="control has-icons-left has-icons-right">
              <div class="select is-hovered is-rounded is-link">
                <select [(ngModel)]="selectedWojewodztwo" [ngModelOptions]="{standalone: true}" [value]="regionSignal()" (keyup)="assignRegion($event)">
                    <option *ngFor="let c of wojewodztwa" [ngValue]="c">{{c}}</option>
                  </select>
                  <span class="icon is-small is-left">
                    <i class="fa fas fa-solid fa-globe"></i>
                  </span>
              </div>
            </div>
          </div>
          
          <div class="field has-text-centered">
            <div class="control">
              <button type="submit" class="button is-success">Register</button>
            </div>
            <p class="help is-danger" *ngIf="cannotSendFormData">Fill all fields</p>
          </div>
          <br>
          <p class="help">Already have an accout? <a [routerLink]="['']">Log in!</a></p>
    </form>
  </div>
    </div>
    <div class="column">
      
    </div>
  </div>
</section>

